<?xml version="1.0"?>

<launch>

    <!--  ****** MPC Node ******  -->
    <node name="MPC_Kinematic_node" pkg="mpc_racecar" type="MPC_Kinematic_node" output="screen" >
        <rosparam file="$(find mpc_racecar)/params/mpc/mpc_params.yaml" command="load" />
        <param name="waypoints_filepath" value="$(find mpc_racecar)/waypoints/kelley_third_floor.csv"/>
    </node>

</launch>
