<?xml version="1.0"?>
<launch>

  
  	<!-- Run map server -->
	<arg name="map_file" default="$(find nonlinear_mpc_casadi)/maps/kelley_third_floor.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <node pkg="nonlinear_mpc_casadi" name="remap_gazebo_pose_node" type="remap_gazebo_pose.py" output="screen" />
  	<node pkg="nonlinear_mpc_casadi" name="sim_connector_node" type="sim_connector.py" output="screen"/>
    <node pkg="nonlinear_mpc_casadi" name="visualizer" type="visualize_markers.py"/>

  	<!--  ************** Visualisation **************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find nonlinear_mpc_casadi)/rviz/mpc_gazebo_navigation.rviz"/>


</launch>
